{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Nuevo tesoro<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputId" class="col-sm-3 control-label">Id</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputId" id="inputId" placeholder="Id">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPista" class="col-sm-3 control-label">Pista</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputPista" id="inputPista"
                           placeholder="pista">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}

